environ*.ps1
*environment*
!environ.example
exported-csvs/*/
exported-csvs/*
export.json
*export.json
logs\PassPortalLog
logs\*
logs\errored\*
logs\errored
*export.json
logs\PassPortalLog
PassPortalLog
logs/PassPortalLog*
*/PassPortalLog*