
$huduBaseURL = "ururl.huducloud.com"
$HuduAPIKey = ""
$passportalData_SecretKeyID="access key id"
$passportalData_SecretAccessKey="secret access key"
$SelectedLocation = @{APIBase="us-clover"; name="United States"}

. .\Passportal-Migration.ps1
