
$huduBaseURL = "your-hudu-url.huducloud.com"
$HuduAPIKey = "hudu api key"
$passportalData_APIkey="secret key here"
$passportalData_APIkeyId="key id here"
$SelectedLocation = @{APIBase="us-clover"; name="United States"}
. .\Passportal-Migration.ps1
